# General
.DS_Store
Thumbs.db

# Environment variables
.env

# Python (Django) specific
backend/__pycache__/
backend/*.py[cod]
backend/*.so
backend/.Python
backend/env/
backend/venv/
backend/ENV/
backend/env.bak/
backend/venv.bak/
backend/.venv/
backend/build/
backend/develop-eggs/
backend/dist/
backend/downloads/
backend/eggs/
backend/.eggs/
backend/lib/
backend/lib64/
backend/parts/
backend/sdist/
backend/var/
backend/wheels/
backend/*.egg-info/
backend/.installed.cfg
backend/*.egg
backend/pip-log.txt
backend/pip-delete-this-directory.txt
backend/htmlcov/
backend/.tox/
backend/.nox/
backend/.coverage
backend/.coverage.*
backend/.cache
backend/nosetests.xml
backend/coverage.xml
backend/*.cover
backend/.hypothesis/
backend/.pytest_cache/
backend/cover/
backend/*.mo
backend/*.pot
backend/*.log
backend/local_settings.py
backend/db.sqlite3
backend/instance/
backend/.webassets-cache
backend/.scrapy
backend/docs/_build/
backend/.ipynb_checkpoints
backend/profile_default/
backend/ipython_config.py
backend/.python-version
backend/celerybeat-schedule
backend/*.sage.py
backend/.ropeproject
backend/.mypy_cache/
backend/.dmypy.json
backend/dmypy.json
backend/.pyre/
backend/.pytype/

# Node (Angular) specific
frontend/node_modules/
frontend/dist/
frontend/tmp/
frontend/.npm/
frontend/*.log
frontend/.angular/
frontend/.angular_cache/
frontend/.env

# Angular specific
frontend/.angular/
frontend/.angular_cache/
frontend/node_modules/
frontend/dist/
frontend/e2e/
frontend/tmp/
frontend/.env
frontend/.npm
frontend/package-lock.json
frontend/yarn.lock
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Visual Studio Code
.vscode/

# JetBrains IDEs
.idea/
*.iml
out/

# OS generated files
*.swp
*.swo
