.label-container {
  height: 80px;
  border: none;
}

.label-container.has-labels {
  border: solid #43729d;
  padding: 5px ;
}

.input-container {
  background-color: #f5f6fa;
}

.label-tag {
  display: inline-flex;
  padding: 5px 10px;
  margin: 5px;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
}

.remove-button {
  background: none;
  border: none;
  color: white;
  margin-left: 10px;
  cursor: pointer;
  font-size: 1.2em;
  line-height: 1;
}

.error-message {
  color: red;
  margin-top: 10px;
}
